<!DOCTYPE html>
<head>
	<title>hi</title>

	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="bd">
		<h2>Your Songs!</h2>
		{{{ body }}}


		<h1>Welcome to The Emoji Game</h1>
		<p>These are how the rules work </p>


		You must first create a playlist of songs.<br>

		Then you can challenge your friend to play the game!<br>

		The game will change the lyrics of your pre chosen songs to emojis.<br>

		Good luck!<br><br><br><br>
	</div>

	


</body>
<footer>
		<a href="/songs">Songs</a><br><br><br>
	  <a href = "/game1">Play this game!!!</a>

	</footer>
</html>